__pycache__
dist
build
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints

# IDEs
.vscode
.idea

# Python
.env
*.pyc
*.pyo

# export files for Paprika app accidently create in source code directory
*.paprikarecipes

# vim
.*swp
.*swo

# ephemeral local export specs
specs/

# macOS
.DS_Store
