repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/timothycrosley/isort
    # isort config is in setup.cfg
    rev: 5.12.0
    hooks:
      - id: isort
        language_version: python3
  - repo: https://github.com/PyCQA/flake8
    # flake8 config is in .flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        language_version: python3
